pandas
numpy
scipy>=1.0
pybids
mne
mne-bids
pyyaml
toposort
autoreject
mne-icalabel
pyprep
neuroCombat
mlxtend
xgboost
scikit-learn
matplotlib
plotly
tqdm
shap
psutil
openpyxl
kaleido
specparam
cmasher